<IfModule mod_rewrite.c>

# Enable Rewrite Engine
RewriteEngine On
RewriteBase /

# Redirect from www.
RewriteCond %{HTTP_HOST} ^www.https://renew-homes-services.com$
RewriteRule (.*) https://https://renew-homes-services.com/$1 [R=301,L] 

# Force clients to use https
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://https://renew-homes-services.com/$1 [R=301,L]

# Expiry header image tags
ExpiresActive On
ExpiresByType text/html "access plus 2 days"
ExpiresByType image/gif "access plus 60 days"
ExpiresByType image/jpg "access plus 60 days"
ExpiresByType image/png "access plus 60 days"
ExpiresByType application/x-javascript "access plus 60 days"
ExpiresByType text/css "access plus 60 days"
ExpiresByType image/x-icon "access plus 360 days"
</IfModule>